<!DOCTYPE html>
<html lang="en">
<head>
    <title>CalmDownSpike</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div className="jumbotron">
            <h1 className="display-4">Welcome to CalmDownSpike!</h1>
            <p className="lead">An innovative interactive dog blanket designed to offer comfort and alleviate anxiety in dogs.</p>
            <hr className="my-4" />
            <p>Sign up today to customize your dog's calming experience.</p>
            <Link className="btn btn-primary btn-lg" to="/register" role="button">Get Started</Link>
            <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        </div>
</body>
</html>
    <!--export default Index;-->
